* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    min-height: 80px;
    background-color: #3e5982;
    align-items: center;
    width: 100%;
    position: fixed;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.logo img {
    margin-left: 20px;
    height: 75px;
    max-width: 100%;
    width: auto;
}

nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
}

nav a {
    font-weight: 600;
    color: #fffdd5;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: white;
    background-color: #1da146;
    border-radius: 5px;
}

/* Estilos del Slider */
.slider-frame {
    width: 100%; 
    height: 80%;
    overflow: hidden;
    padding-top: 20px;
   
    
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    list-style: none;
    
}

.slider-frame li {
    width: 100%;
}

.slider-frame img {
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }
    20% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    95% {
        margin-left: -300%;
    }
}

.slider-frame ul {
    animation: slide 15s infinite  ease-in-out;
}



.grid-container {
    position: relative;
    margin-top: 70px; /* Espacio debajo del header */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #3e5982;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra mejorada */
}



.grid-container > div {
    background-color: #fffdd5;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.grid-container > div:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.grid-container img {
    width: auto;
    height: 75px;
}
.grid-container p {
    margin-top: 10px;
    font-size: 16px;
    color: #1da146;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.subtitulo{
    color: red;
    margin-top: 20px;
    padding: 1%;
}

.descripcion{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 2%;
    
}

.bottom-folder{
    margin-top: 80px;
    padding-bottom: 150px;
    background-color: #3e5982;
}


@media (max-width: 100px) {
    header {
        flex-direction: column;
    }
    nav {
        flex-direction: column;
        padding: 10px 0;
    }
    .grid-container {
        margin-top: 100px; /* Más espacio si el header es más alto */
        width: 90%; /* Reduce los márgenes para aprovechar mejor el espacio */
    }
}

.noticias {
    padding: 20px;
    background-color: #f4f4f4;
}

.noticia {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.noticia h2 {
    color: #3e5982;
}

.noticia p {
    color: #555;
}

.leer-mas {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #1da146;
    font-weight: 600;
}

.leer-mas:hover {
    color: #0055a5;
}

