* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    min-height: 70px;
    background-color: #3e5982;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.logo img {
    height: 75px;
    max-width: 100%;
    width: auto;
}

nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
}

nav a {
    font-weight: 600;
    color: #fffdd5;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: white;
    background-color: #1da146;
    border-radius: 5px;
}

/* Estilos del Slider */
.slider-frame {
    width: 100%;  /* Ahora usa un porcentaje del contenedor */
    height: 800px;
    margin: 0px auto;
    overflow: hidden;
    
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;  /* Total de 4 imágenes */
    list-style: none;
    
}

.slider-frame li {
    width: 100%;
    
}

.slider-frame img {
    width: 100%;
    
}

/* Animación del Slider */
@keyframes slide {
    0% {
        margin-left: 0%;
    }
    20% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    95% {
        margin-left: -300%;
    }
}

/* Aplicar la animación al slider */
.slider-frame ul {
    animation: slide 15s infinite alternate ease-in-out;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0;
    }
}
